.divFlex{
    display: flex;
    background-color: rgb(34, 33, 33);
    color: antiquewhite;
    flex-direction: row;
    justify-content: space-around;
    padding: 2%;
}
.sectionPrimero{
    display: flex;
    background-color: rgb(34, 33, 33);
    color: antiquewhite;
    padding: 2%;
    justify-content: center;
}
.pDescuento{
    display: flex;
    justify-content: center;
    color: rgb(154, 0, 0);
    background-color: bisque;
    font-size: xx-large;
}